doctype
html
	head
		meta(charset="UTF-8")
		title Are you hungry?
		script(src="/js/ajax.js")
		link(rel="stylesheet" type="text/css" href="./css/CSS.css")
		link(rel="icon" href="./images/meatwad.jpg")
	body
		h2(id="title") Are you hungry!?
		p(class="description").
			If you are hungry and know what you want to get but do not know where to
			go to get what you want.  Tweet the type of food that you want with the 
			#csc365 and we will give you an idea for a place to go.
				
		img(id="burger" src="../images/burger.png")
		a(id="login" href="/auth/facebook" ) Login through facebook! NOW!
		img(id="taco" src="../images/taco.gif")
		img(id="chicken" src="../images/chicken.gif")
			
			
		p(class="terms")
			h1 Terms and Conditions
			p(class="terms") Last updated: May 05, 2017
			p(class="terms")
				| Please read these Terms and Conditions ("Terms", "Terms and Conditions") carefully before using the localhost:3000 website (the "Service") operated by Are you Hungry? ("us", "we", or "our").
			p(class="terms")
				| Your access to and use of the Service is conditioned on your acceptance of and compliance with these Terms. These Terms apply to all visitors, users and others who access or use the Service.
			p(class="terms")
				| By accessing or using the Service you agree to be bound by these Terms. If you disagree with any part of the terms then you may not access the Service. This Terms & Conditions agreement is licensed by 
				a(class="terms" href='https://termsfeed.com', rel='nofollow') TermsFeed
				|  to Are you Hungry?.
			h2(class="terms") Links To Other Web Sites
			p(class="terms")
				| Our Service may contain links to third-party web sites or services that are not owned or controlled by Are you Hungry?.
			p(class="terms")
				| Are you Hungry? has no control over, and assumes no responsibility for, the content, privacy policies, or practices of any third party web sites or services. You further acknowledge and agree that Are you Hungry? shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with use of or reliance on any such content, goods or services available on or through any such web sites or services.
			p(class="terms")
				| We strongly advise you to read the terms and conditions and privacy policies of any third-party web sites or services that you visit.
			h2(class="terms") Governing Law
			p(class="terms")
				| These Terms shall be governed and construed in accordance with the laws of Missouri, United States, without regard to its conflict of law provisions.
			p(class="terms")
				| Our failure to enforce any right or provision of these Terms will not be considered a waiver of those rights. If any provision of these Terms is held to be invalid or unenforceable by a court, the remaining provisions of these Terms will remain in effect. These Terms constitute the entire agreement between us regarding our Service, and supersede and replace any prior agreements we might have between us regarding the Service.
			h2(class="terms") Changes
			p(class="terms")
				| We reserve the right, at our sole discretion, to modify or replace these Terms at any time. If a revision is material we will try to provide at least 15 days notice prior to any new terms taking effect. What constitutes a material change will be determined at our sole discretion.
			p(class="terms")
				| By continuing to access or use our Service after those revisions become effective, you agree to be bound by the revised terms. If you do not agree to the new terms, please stop using the Service.
			h2(class="terms") Contact Us
			p(class="terms") If you have any questions about these Terms, please contact us.
			p(class="terms") Stop reading and just let us track your information and sell it to the highest bidder.
	
