extends template
block style
	link(rel="stylesheet" type="text/css" href="./css/tweetCSS.css")
block body_extra

		h1 What are You Hungry for?
		div(class=("well well-sm col-sm-6"))
			ul(id=("tweetList"))
		div
			img(id="pizza" class="img-fluid" src="./images/eattwitter.gif")
			img(id="burger" src="./images/meatwad.jpg")
			img(id="taco" src="./images/maintaco.png")
			img(id="sushi" src="./images/sushi.gif")
			img(id="chinese" src="./images/chinese.gif")
			img(id="indian" src="./images/indian.jpg")
			img(id="sandwhich" src="./images/sandwhich.jpg")
			img(id="icecream" src="./images/icecream.gif")
			img(id="cupcake" src="./images/cupcake.gif")
			img(id="coffee" src="./images/coffee.gif")
			img(id="bbq" src="./images/bbq.gif")
			img(id="peruvian" src="./images/peruvian.gif")
			img(id="japanese" src="./images/")
			img(id="steak" src="./images/steak.gif")
			img(id="korean" src="./images/korean.gif")
			img(id="chicken" src="./images/chicken1.gif")
			img(id="wings" src="./images/wings.gif")
			img(id="thai" src="./images/thai.gif")
			img(id="soup" src="./images/soup.gif")
			img(id="italian" src="./images/italian.gif")
		
