extends template

block body_extra
	h1 Oh the places you should never go to!
	ol Do not go here seriously dont!
		li
			img(src="http://www.newsiosity.com/sites/default/files/styles/flexslider_image/public/NastyBuffet.jpg?itok=KHnqS4u8")
		li
			img(src="https://s-media-cache-ak0.pinimg.com/236x/53/65/3a/53653a827f21a93543c25b40cd399ed2.jpg")
		li
			img(src="http://3.bp.blogspot.com/-PxIIy2hr-cQ/ULa3CxxPa0I/AAAAAAAABH8/izXckzjfVwo/s1600/B.A.D.+Sushi,+Los+Angeles+-+1.JPG")
