doctype
html
	head
		meta(charset="UTF-8")
		title Final Project
		script(src="/js/ajax.js")
		link(rel="stylesheet",href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
		link(rel="icon" href="./images/dance.gif")
		style.
			h1 {
				text-align: center;
			}
			body {
				background-image: url("./images/food.png");
					}
		block style
	body
		nav.navbar.navbar-default
			.container-fluid
				.navbar-header
					a.navbar-brand(href='#') Are you hungry?
				ul.nav.navbar-nav
					li.active
						a(href='/main') Home
					li
						a(href='page2') Never go here
					li
						a(href='page3') When you should eat again

		block body_extra
