#pizza {
  display: none;
}
#burger {
  display: none;
}
#taco {
  display: none;
}
#sushi {
  display: none;
}
#chinese {
  display: none;
}
#indian {
  display: none;
}
#sandwhich {
  display: none;
}
#icecream  {
  display: none;
}
#cupcake  {
  display: none;
}
#coffee  {
  display: none;
}
#bbq  {
  display: none;
}
#peruvian  {
  display: none;
}
#japanese  {
  display: none;
}
#steak  {
  display: none;
}
#korean  {
  display: none;
}
#chicken  {
  display: none;
}
#wings  {
  display: none;
}
#thai  {
  display: none;
}
#soup {
  display: none;
}
#italian {
  display: none;
}
